target/
project/target
project/project
test_run_dir/
generated/
build/
*~

.bloop/
.metals/
.vscode/
project/.bloop/
project/metals.sbt
.scalafmt.conf

src/test/scala/auto/IncorrectInputs/*/
src/test/scala/auto/IncorrectInputs/*.txt
src/test/scala/auto/IncorrectInputs/*/*.txt
src/test/scala/auto/IncorrectInputs/*/*.data
src/test/scala/auto/AutoTestRes/*/
src/test/scala/auto/AutoTestRes/*/*.txt
src/test/scala/auto/*.txt

src/test/scala/autoFullPipeline/IncorrectInputs/*/
src/test/scala/autoFullPipeline/IncorrectInputs/*.txt
src/test/scala/autoFullPipeline/IncorrectInputs/*/*.txt
src/test/scala/autoFullPipeline/IncorrectInputs/*/*.data
src/test/scala/autoFullPipeline/AutoTestRes/*/
src/test/scala/autoFullPipeline/AutoTestRes/*/*.txt
src/test/scala/autoFullPipeline/*.txt
